<div class="card" style="position:sticky;top:12px">
  <div class="h1" style="font-size:16px;margin-bottom:8px">Answer Key</div>
  <div>
    <div class="badge" style="margin-bottom:6px">By Technology</div>
    <ul style="margin:0;padding-left:18px">
      <li *ngFor="let t of techs">
        <b>{{t.name}}:</b>
        <ng-container *ngFor="let id of t.bestFor; let i = index">
          {{ cases.find(c=>c.id===id)?.text || id }}<span *ngIf="i < t.bestFor.length-1">, </span>
        </ng-container>
      </li>
    </ul>
  </div>
  <hr />
  <div>
    <div class="badge" style="margin-bottom:6px">By Use Case</div>
    <ul style="margin:0;padding-left:18px">
      <li *ngFor="let c of cases">
        <b>{{c.text}}:</b>
        {{ techs.filter(t=>t.bestFor.includes(c.id)).map(t=>t.name).join(', ') }}
      </li>
    </ul>
  </div>
</div>